---
import { CategoriasProjeto } from '../react/CategoriasProjeto';
import { Icon } from '../react/Icon';
import { MAPA_CATEGORIA } from '../../data/taxonomia';
import type { DadosCartaoProjeto } from '../../lib/projetos';

interface Props {
  projeto: DadosCartaoProjeto;
}

const { projeto } = Astro.props;
const categorias = projeto.categorias.map((categoria, indice) => ({
  id: categoria,
  icon: MAPA_CATEGORIA[categoria].icon,
  label: projeto.categoriasLabel[indice] ?? MAPA_CATEGORIA[categoria].label
}));
---

<article class="project-card project-card--compact">
  <a class="project-card__image-link" href={projeto.href}>
    <img class="project-card__image" src={projeto.capaSrc} alt={projeto.capaAlt} loading="lazy" />
  </a>
  <div class="project-card__body">
    <div class="project-card__eyebrow project-card__eyebrow--stacked">
      <CategoriasProjeto client:load categorias={categorias} />
      <span class="project-card__date">{projeto.publicadoEmLabel}</span>
    </div>
    <div class="project-card__content">
      <h3><a href={projeto.href}>{projeto.titulo}</a></h3>
      <p>{projeto.resumo}</p>
    </div>
    <div class="project-card__footer">
      <div class="project-card__meta">
        <span>
          <Icon name="user" size={15} />
          {projeto.nomeAutor}
        </span>
        <span>
          <Icon name="clock" size={15} />
          {projeto.duracaoLabel}
        </span>
      </div>
      <a class="button button--cta project-card__button" href={projeto.href}>
        Ver Projeto
      </a>
    </div>
  </div>
</article>
